*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
}

html{
    font-size: 62.5%;
}

main{
    max-width: 1500px;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
  
}

.float-back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.float-back-button:hover {
    background-color: #555;
}

input[type="number"] {
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


main .card{
    height:  200px;
    border: 1px solid lightgray;
    margin: 20px;
    display: flex;
    border-radius: 30px;
}

main .card .images{
    width: 20%;
}

main .card .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

main .card .caption{
  line-height: 3em;
  margin-left: 30px;
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .card .caption p{
    font-size: 1.5rem;
}

del{
    text-decoration: line-through;
}

main .card .caption .rate{
    display: flex;
}

main .card .caption .rate i{
    color: gold;
    margin-left:  2px;
}

main .card .caption .price{
    position: absolute;
    top: 5%;
    right: 5%;
}

main .card .caption button{
    background-color: red;
    color: white;
    padding: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 200px;
    margin-top: 0;
    font-weight: bold;
    width: 30%;
}